"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
set hls
set showmode
set number
set clipboard=unnamed

let mapleader=","
" Do incremental searching.
set incsearch

Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)
set keep-english-in-normal
set keep-english-in-normal-restore-in-insert

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)
vnoremap // y/<c-r>"<CR>
vnoremap <leader>cp "+y<CR>

"normal mode action mapping for idea actions
"press Q to closeProject
nnoremap re :action RenameElement<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gb :action Back<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gf :action GotoFile<CR>
nnoremap ch :action CallHierarchy<CR>
nnoremap gs :action GotoSuperMethod<CR>
map ge <Action>(GotoNextError)
map gE <Action>(GotoNextError)
nnoremap J :tabp<CR>
nnoremap K :tabn<CR>

"default leader is \
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>apk :action Android.BuildApk<CR>
nnoremap <leader>cle :action CleanGradleProject<CR>
nnoremap <leader>ync :action Android.SyncProject<CR>
nnoremap <leader>Q :action CloseProject<CR>
nnoremap <leader>ne :NERDTree<CR>
nnoremap <leader>ff :action FindInPath<CR>
nnoremap <leader>x :action Exit<CR>
nnoremap <leader>im :action ImplementMethods<CR>
nnoremap <leader>te :action ActivateTerminalToolWindow<CR>
nnoremap <leader>rs :action RestartIde<CR>
nnoremap <leader>run :action Run<CR>

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
